@model LMU_EBurger.Models.Menu

@{
    ViewBag.Title = "ItemDetails";
    Layout = "~/Views/Shared/_MenuPageLayout.cshtml";
}

<main>
    <div class="hero_in detail_page background-image" data-background="url(@(Model.Images))">
        <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">

            <div class="container d-flex align-items-center justify-content-center">
                <div class="full-width">
                    <div class="row w-100">
                        <div class="col-xl-8 col-lg-8 col-md-10 mx-auto text-center">
                            @*<div class="head"><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></div>*@
                            <h1>@Html.DisplayFor(model => model.Name)</h1>
                            @*Menu page subtitle*@
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /main_info -->
            </div>
        </div>
    </div>
    <!--/hero_in-->

    <div class="container margin_detail">
        <div class="row">
            <div class="col-lg-8">
                <div class="detail_page_head clearfix">
                    @*<div class="rating">
                    <div class="score"><span>Superb<em>15 Reviews</em></span><strong>8.9</strong></div>
                </div>*@
                    <div class="title margin_60_40" ">
                        <h1>@Html.DisplayFor(model => model.Name)</h1>
                        <ul class="tags">
                            <li>    <a href="#0">Pizza</a></li>
                            <li><a href="#0">Italian Food</a></li>
                            <li><a href="#0">Best Price</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /detail_page_head -->
                <h6>About "@Html.DisplayFor(model => model.Name)"</h6>
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>

            <div class="col-lg-4" id="">
                <div class="box_order mobile_fixed">
                    <!-- /head -->
                    <div class="main">
                        <ul class="clearfix">
                            <li class="total">Price<span>@Html.DisplayFor(model => model.Price).00 LKR</span></li>
                        </ul>
                        <div class="btn_1_mobile">
                            <a href="@Url.Action("AddToCart", "Home", new { MenuID = Model.MenuID })" class="btn_1 gradient full-width mb_5">Order Now</a>
                            <div class="text-center"><small>No money charged on this steps</small></div>
                        </div>
                    </div>
                </div>
                <!-- /box_order -->

                <div class="btn_reserve_fixed"><a href="@Url.Action("AddToCart", "Home", new { MenuID = Model.MenuID })" class="btn_1 gradient full-width">View Basket</a></div>
            </div>

            <div class="col-lg-12 mt-5">
                <div class="pictures magnific-gallery clearfix">
                    <figure>
                        <a href="@(Model.Images)" title="@(Model.Name)" data-effect="mfp-zoom-in">
                            <img src="@(Model.Images)" data-src="@(Model.Images)" class="lazy loaded" alt="" data-was-processed="true">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->
